// compress: true

@import "blocks";
@import "fonts";
@import "screens";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;700&display=swap");

@colorOne: #ffb548;
@colorTwo: black;
@colorThree: white;

@fontOne: "Bebas Neue";

body {
	overflow-x: hidden;
	background-color: @colorTwo;
	font-family: "Open Sans", sans-serif;
	color: @colorThree;
}